body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(135deg, #3c7394, #1c4386, #1815af);
    background-size: 200% 200%; /* Adjust the size as needed */
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#a1a6ab, #073c6e);
    z-index: -1;
}

.container {
    width: 80%; /* Adjust the width as needed */
    margin: 50px auto; /* Center the container horizontally */
    text-align: center; /* Horizontally center the content within the container */
    background: linear-gradient(45deg, #7691b1, #1f66d7);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 10px 0px rgba(200, 60, 0, 0.2);
    display: flex;
    justify-content: center; /* Horizontally center the container */
    align-items: flex-start; /* Align items to the top */
}


.stopwatch {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.display {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.controls button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    background-color: #2f63ab;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.controls button:hover {
    background-color: #0b3461;
}

.laps {
    text-align: left;
    margin-top: 20px;
    max-height: 100px;
    overflow-y: auto;
    padding: 10px;
    border-top: 1px solid #a4aeb8;
}
